<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
    <div id="buttons">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu"
                  (click)="onAssignmentRendu()"
    >
      Devoir rendu
    </mat-checkbox>
    <nav>
      <a [routerLink]="isAdmin()? ['/assignment',assignmentTransmis._id,'edit' ] : null" >
        <button mat-raised-button color="primary" [disabled]="!isAdmin()">
          Modifier
        </button>
        
      </a>
      <button mat-raised-button color="primary" (click)="getAssignment()">
        Test
      </button>
    </nav>
    <button mat-icon-button (click)="onDelete()" id="button-delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  </mat-card>
</div>
